:root {
    --dark-bg-color: black;
    --light-bg-color: white;

    --dark-bg-text-color: white;
    --light-bg-text-color: black;

    --object-color: red;
    --accent-color: dark roored;
  }

html {
    scroll-behavior: smooth;
  box-sizing: border-box;
  max-width: 100%;
  scroll-snap-type: mandatory;
}

body {
  margin: 0;
  padding: 0;
   font-family: Poppins, sans-serif;
   font-size: 16px;
  
}

h1, h2, h3, h4 {
    font-family: Outfit, sans-serif;
}


  .home {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3cpath d='M43.15 -45.28L115.9 -3.28L115.9 80.72L43.15 122.72L-29.6 80.72L-29.6 -3.28zM115.9 80.72L188.65 122.72L188.65 206.72L115.9 248.72L43.15 206.72L43.15 122.72zM43.15 458.72L115.9 500.72L115.9 584.72L43.15 626.72L-29.6 584.72L-29.6 500.72zM43.15 710.72L115.9 752.72L115.9 836.72L43.15 878.72L-29.6 836.72L-29.6 752.72zM188.65 -45.28L261.39 -3.28L261.39 80.72L188.65 122.72L115.9 80.72L115.9 -3.28zM188.65 458.72L261.39 500.72L261.39 584.72L188.65 626.72L115.9 584.72L115.9 500.72zM261.39 584.72L334.14 626.72L334.14 710.72L261.39 752.72L188.65 710.72L188.65 626.72zM479.64 -45.28L552.39 -3.28L552.39 80.72L479.64 122.72L406.89 80.72L406.89 -3.28zM552.39 80.72L625.14 122.72L625.14 206.72L552.39 248.72L479.64 206.72L479.64 122.72zM552.39 332.72L625.14 374.72L625.14 458.72L552.39 500.72L479.64 458.72L479.64 374.72zM552.39 584.72L625.14 626.72L625.14 710.72L552.39 752.72L479.64 710.72L479.64 626.72zM625.14 206.72L697.88 248.72L697.88 332.72L625.14 374.72L552.39 332.72L552.39 248.72zM697.88 332.72L770.63 374.72L770.63 458.72L697.88 500.72L625.14 458.72L625.14 374.72zM625.14 710.72L697.88 752.72L697.88 836.72L625.14 878.72L552.39 836.72L552.39 752.72zM843.38 80.72L916.13 122.72L916.13 206.72L843.38 248.72L770.63 206.72L770.63 122.72zM843.38 584.72L916.13 626.72L916.13 710.72L843.38 752.72L770.63 710.72L770.63 626.72zM916.13 -45.28L988.88 -3.28L988.88 80.72L916.13 122.72L843.38 80.72L843.38 -3.28zM988.88 584.72L1061.62 626.72L1061.62 710.72L988.88 752.72L916.13 710.72L916.13 626.72zM1061.62 -45.28L1134.37 -3.28L1134.37 80.72L1061.62 122.72L988.88 80.72L988.88 -3.28zM1061.62 458.72L1134.37 500.72L1134.37 584.72L1061.62 626.72L988.88 584.72L988.88 500.72zM1134.37 584.72L1207.12 626.72L1207.12 710.72L1134.37 752.72L1061.62 710.72L1061.62 626.72zM1207.12 -45.28L1279.87 -3.28L1279.87 80.72L1207.12 122.72L1134.37 80.72L1134.37 -3.28zM1207.12 458.72L1279.87 500.72L1279.87 584.72L1207.12 626.72L1134.37 584.72L1134.37 500.72zM1352.62 206.72L1425.37 248.72L1425.37 332.72L1352.62 374.72L1279.87 332.72L1279.87 248.72zM1425.37 332.72L1498.11 374.72L1498.11 458.72L1425.37 500.72L1352.62 458.72L1352.62 374.72zM1352.62 710.72L1425.37 752.72L1425.37 836.72L1352.62 878.72L1279.87 836.72L1279.87 752.72z' stroke='rgba(255%2c 0%2c 0%2c 0.456)' stroke-width='2'%3e%3c/path%3e%3cpath d='M34.75 -45.28 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM107.5 -3.28 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM107.5 80.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM34.75 122.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM-38 80.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM-38 -3.28 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM180.25 122.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM180.25 206.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM107.5 248.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM34.75 206.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM34.75 458.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM107.5 500.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM107.5 584.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM34.75 626.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM-38 584.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM-38 500.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM34.75 710.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM107.5 752.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM107.5 836.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM34.75 878.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM-38 836.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM-38 752.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM180.25 -45.28 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM252.99 -3.28 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM252.99 80.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM180.25 458.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM252.99 500.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM252.99 584.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM180.25 626.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM325.74 626.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM325.74 710.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM252.99 752.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM180.25 710.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM471.24 -45.28 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM543.99 -3.28 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM543.99 80.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM471.24 122.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM398.49 80.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM398.49 -3.28 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM616.74 122.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM616.74 206.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM543.99 248.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM471.24 206.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM543.99 332.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM616.74 374.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM616.74 458.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM543.99 500.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM471.24 458.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM471.24 374.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM543.99 584.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM616.74 626.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM616.74 710.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM543.99 752.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM471.24 710.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM471.24 626.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM689.48 248.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM689.48 332.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM762.23 374.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM762.23 458.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM689.48 500.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM689.48 752.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM689.48 836.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM616.74 878.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM543.99 836.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM834.98 80.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM907.73 122.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM907.73 206.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM834.98 248.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM762.23 206.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM762.23 122.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM834.98 584.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM907.73 626.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM907.73 710.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM834.98 752.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM762.23 710.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM762.23 626.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM907.73 -45.28 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM980.48 -3.28 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM980.48 80.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM834.98 -3.28 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM980.48 584.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1053.22 626.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1053.22 710.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM980.48 752.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1053.22 -45.28 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1125.97 -3.28 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1125.97 80.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1053.22 122.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1053.22 458.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1125.97 500.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1125.97 584.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM980.48 500.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1198.72 626.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1198.72 710.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1125.97 752.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1198.72 -45.28 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1271.47 -3.28 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1271.47 80.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1198.72 122.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1198.72 458.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1271.47 500.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1271.47 584.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1344.22 206.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1416.97 248.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1416.97 332.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1344.22 374.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1271.47 332.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1271.47 248.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1489.71 374.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1489.71 458.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1416.97 500.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1344.22 458.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1344.22 710.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1416.97 752.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1416.97 836.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1344.22 878.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1271.47 836.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0zM1271.47 752.72 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0z' fill='rgba(255%2c 0%2c 0%2c 0.456)'%3e%3c/path%3e%3cpath d='M75.71 32.06L119.02 57.06L119.02 107.06L75.71 132.06L32.41 107.06L32.41 57.06zM32.41 257.06L75.71 282.06L75.71 332.06L32.41 357.06L-10.89 332.06L-10.89 282.06zM75.71 332.06L119.02 357.06L119.02 407.06L75.71 432.06L32.41 407.06L32.41 357.06zM32.41 407.06L75.71 432.06L75.71 482.06L32.41 507.06L-10.89 482.06L-10.89 432.06zM75.71 632.06L119.02 657.06L119.02 707.06L75.71 732.06L32.41 707.06L32.41 657.06zM119.02 107.06L162.32 132.06L162.32 182.06L119.02 207.06L75.71 182.06L75.71 132.06zM162.32 482.06L205.62 507.06L205.62 557.06L162.32 582.06L119.02 557.06L119.02 507.06zM119.02 557.06L162.32 582.06L162.32 632.06L119.02 657.06L75.71 632.06L75.71 582.06zM162.32 632.06L205.62 657.06L205.62 707.06L162.32 732.06L119.02 707.06L119.02 657.06zM205.62 107.06L248.92 132.06L248.92 182.06L205.62 207.06L162.32 182.06L162.32 132.06zM248.92 332.06L292.23 357.06L292.23 407.06L248.92 432.06L205.62 407.06L205.62 357.06zM205.62 407.06L248.92 432.06L248.92 482.06L205.62 507.06L162.32 482.06L162.32 432.06zM248.92 482.06L292.23 507.06L292.23 557.06L248.92 582.06L205.62 557.06L205.62 507.06zM248.92 782.06L292.23 807.06L292.23 857.06L248.92 882.06L205.62 857.06L205.62 807.06zM292.23 -42.94L335.53 -17.94L335.53 32.06L292.23 57.06L248.92 32.06L248.92 -17.94zM335.53 182.06L378.83 207.06L378.83 257.06L335.53 282.06L292.23 257.06L292.23 207.06zM292.23 407.06L335.53 432.06L335.53 482.06L292.23 507.06L248.92 482.06L248.92 432.06zM378.83 -42.94L422.13 -17.94L422.13 32.06L378.83 57.06L335.53 32.06L335.53 -17.94zM422.13 32.06L465.44 57.06L465.44 107.06L422.13 132.06L378.83 107.06L378.83 57.06zM422.13 332.06L465.44 357.06L465.44 407.06L422.13 432.06L378.83 407.06L378.83 357.06zM378.83 557.06L422.13 582.06L422.13 632.06L378.83 657.06L335.53 632.06L335.53 582.06zM378.83 707.06L422.13 732.06L422.13 782.06L378.83 807.06L335.53 782.06L335.53 732.06zM465.44 -42.94L508.74 -17.94L508.74 32.06L465.44 57.06L422.13 32.06L422.13 -17.94zM508.74 32.06L552.04 57.06L552.04 107.06L508.74 132.06L465.44 107.06L465.44 57.06zM465.44 707.06L508.74 732.06L508.74 782.06L465.44 807.06L422.13 782.06L422.13 732.06zM595.34 182.06L638.64 207.06L638.64 257.06L595.34 282.06L552.04 257.06L552.04 207.06zM595.34 332.06L638.64 357.06L638.64 407.06L595.34 432.06L552.04 407.06L552.04 357.06zM552.04 407.06L595.34 432.06L595.34 482.06L552.04 507.06L508.74 482.06L508.74 432.06zM595.34 482.06L638.64 507.06L638.64 557.06L595.34 582.06L552.04 557.06L552.04 507.06zM552.04 557.06L595.34 582.06L595.34 632.06L552.04 657.06L508.74 632.06L508.74 582.06zM595.34 632.06L638.64 657.06L638.64 707.06L595.34 732.06L552.04 707.06L552.04 657.06zM552.04 707.06L595.34 732.06L595.34 782.06L552.04 807.06L508.74 782.06L508.74 732.06zM681.95 182.06L725.25 207.06L725.25 257.06L681.95 282.06L638.64 257.06L638.64 207.06zM638.64 257.06L681.95 282.06L681.95 332.06L638.64 357.06L595.34 332.06L595.34 282.06zM638.64 407.06L681.95 432.06L681.95 482.06L638.64 507.06L595.34 482.06L595.34 432.06zM681.95 482.06L725.25 507.06L725.25 557.06L681.95 582.06L638.64 557.06L638.64 507.06zM681.95 632.06L725.25 657.06L725.25 707.06L681.95 732.06L638.64 707.06L638.64 657.06zM638.64 707.06L681.95 732.06L681.95 782.06L638.64 807.06L595.34 782.06L595.34 732.06zM768.55 32.06L811.86 57.06L811.86 107.06L768.55 132.06L725.25 107.06L725.25 57.06zM725.25 257.06L768.55 282.06L768.55 332.06L725.25 357.06L681.95 332.06L681.95 282.06zM768.55 482.06L811.86 507.06L811.86 557.06L768.55 582.06L725.25 557.06L725.25 507.06zM725.25 707.06L768.55 732.06L768.55 782.06L725.25 807.06L681.95 782.06L681.95 732.06zM768.55 782.06L811.86 807.06L811.86 857.06L768.55 882.06L725.25 857.06L725.25 807.06zM811.86 -42.94L855.16 -17.94L855.16 32.06L811.86 57.06L768.55 32.06L768.55 -17.94zM855.16 32.06L898.46 57.06L898.46 107.06L855.16 132.06L811.86 107.06L811.86 57.06zM811.86 107.06L855.16 132.06L855.16 182.06L811.86 207.06L768.55 182.06L768.55 132.06zM811.86 407.06L855.16 432.06L855.16 482.06L811.86 507.06L768.55 482.06L768.55 432.06zM898.46 -42.94L941.76 -17.94L941.76 32.06L898.46 57.06L855.16 32.06L855.16 -17.94zM898.46 107.06L941.76 132.06L941.76 182.06L898.46 207.06L855.16 182.06L855.16 132.06zM941.76 182.06L985.07 207.06L985.07 257.06L941.76 282.06L898.46 257.06L898.46 207.06zM941.76 632.06L985.07 657.06L985.07 707.06L941.76 732.06L898.46 707.06L898.46 657.06zM898.46 707.06L941.76 732.06L941.76 782.06L898.46 807.06L855.16 782.06L855.16 732.06zM985.07 -42.94L1028.37 -17.94L1028.37 32.06L985.07 57.06L941.76 32.06L941.76 -17.94zM1028.37 32.06L1071.67 57.06L1071.67 107.06L1028.37 132.06L985.07 107.06L985.07 57.06zM985.07 107.06L1028.37 132.06L1028.37 182.06L985.07 207.06L941.76 182.06L941.76 132.06zM985.07 257.06L1028.37 282.06L1028.37 332.06L985.07 357.06L941.76 332.06L941.76 282.06zM1028.37 482.06L1071.67 507.06L1071.67 557.06L1028.37 582.06L985.07 557.06L985.07 507.06zM1028.37 632.06L1071.67 657.06L1071.67 707.06L1028.37 732.06L985.07 707.06L985.07 657.06zM985.07 707.06L1028.37 732.06L1028.37 782.06L985.07 807.06L941.76 782.06L941.76 732.06zM1028.37 782.06L1071.67 807.06L1071.67 857.06L1028.37 882.06L985.07 857.06L985.07 807.06zM1071.67 -42.94L1114.97 -17.94L1114.97 32.06L1071.67 57.06L1028.37 32.06L1028.37 -17.94zM1071.67 107.06L1114.97 132.06L1114.97 182.06L1071.67 207.06L1028.37 182.06L1028.37 132.06zM1071.67 407.06L1114.97 432.06L1114.97 482.06L1071.67 507.06L1028.37 482.06L1028.37 432.06zM1114.97 632.06L1158.28 657.06L1158.28 707.06L1114.97 732.06L1071.67 707.06L1071.67 657.06zM1158.28 407.06L1201.58 432.06L1201.58 482.06L1158.28 507.06L1114.97 482.06L1114.97 432.06zM1158.28 557.06L1201.58 582.06L1201.58 632.06L1158.28 657.06L1114.97 632.06L1114.97 582.06zM1201.58 782.06L1244.88 807.06L1244.88 857.06L1201.58 882.06L1158.28 857.06L1158.28 807.06zM1244.88 107.06L1288.18 132.06L1288.18 182.06L1244.88 207.06L1201.58 182.06L1201.58 132.06zM1288.18 332.06L1331.49 357.06L1331.49 407.06L1288.18 432.06L1244.88 407.06L1244.88 357.06zM1288.18 782.06L1331.49 807.06L1331.49 857.06L1288.18 882.06L1244.88 857.06L1244.88 807.06zM1331.49 107.06L1374.79 132.06L1374.79 182.06L1331.49 207.06L1288.18 182.06L1288.18 132.06zM1374.79 182.06L1418.09 207.06L1418.09 257.06L1374.79 282.06L1331.49 257.06L1331.49 207.06zM1331.49 257.06L1374.79 282.06L1374.79 332.06L1331.49 357.06L1288.18 332.06L1288.18 282.06zM1374.79 332.06L1418.09 357.06L1418.09 407.06L1374.79 432.06L1331.49 407.06L1331.49 357.06zM1374.79 482.06L1418.09 507.06L1418.09 557.06L1374.79 582.06L1331.49 557.06L1331.49 507.06zM1461.39 32.06L1504.7 57.06L1504.7 107.06L1461.39 132.06L1418.09 107.06L1418.09 57.06zM1418.09 107.06L1461.39 132.06L1461.39 182.06L1418.09 207.06L1374.79 182.06L1374.79 132.06z' stroke='rgba(255%2c 0%2c 0%2c 0.668)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='800' opacity='0.8' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-color: #000;
    color: white;
  }

  .header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
  }

  .logo {
    float: left;
    cursor: pointer;
    margin-top: 20px;
    width: 130px;
    height: 80px;
    background-color: white;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding-right: 30px;
    transition: 0.6s ease 120ms;
  }

  .logo:hover {
    transform: translateX(-130px);
  }

  #name {
    font-size: 18px;
    display: inline-block;
    font-family: Outfit, serif;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1;
    opacity: 0.2;
    margin-left: 40px
  }

  .nav-link {
    margin-right: 4em;
    width: 80%;
    margin-top: 20px;
  }

  .nav-link ul {
    display: flex;
    justify-content: right;
    padding: 0;
  }

  .nav-link ul li {
    list-style: none;
    margin: 0 15px;
  }

  .nav-link ul li a {
    text-decoration: none;
    color: var(--dark-bg-text-color);
    font-size: 17px;
    font-weight: 600;
  }

  .nav-link ul li a:hover {
    color: var(--object-color);
    border-bottom: 2px solid var(--object-color);
  }

  /*Landing Page*/

  .landing-page  {
    padding-top: 1%;
    margin-top: 8%;
    height: 85vh;
    text-align: left;
    padding-left: 10%;
    padding-bottom: 10%;
  }

  .landing-page hr {
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 30px;
    height: 10px;
    width: 35px;
    border-radius: 50px;
    line-height: -0.2;
    border: transparent;
    background: linear-gradient(60deg, white, red);
  }

  .landing-page h2 {
    font-size: 50px;
    margin-bottom: 0;
  }

  .intro {
    font-size: 18px;
    width: 50%;
    line-height: 1.8;
  }

  .landing-page p a {
    color: var(--object-color);
    text-decoration: none;
    border-bottom: 1.5px solid var(--object-color);
    font-weight: 500;
  }

  .landing-page span {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
  }

  .profile-pic img {
    float: right;
    border-radius: 50%;
    margin: -4% 15% 0px 1%;
    border-right: 3px solid var(--object-color);
    border-bottom: 3px solid var(--object-color);
    border-top: 3px solid var(--dark-bg-text-color);
    border-left: 3px solid var(--dark-bg-text-color);
    transition: all 0.3s linear;
    cursor: pointer;
    transform: scale(1.4);
    max-width: 20%;
    height: auto;
  }

  .profile-pic img:hover {
    border-right: 3px solid var(--dark-bg-text-color);
    border-bottom: 3px solid var(--dark-bg-text-color);
    border-top: 3px solid var(--object-color);
    border-left: 3px solid var(--object-color);
    transform: scale(1.45)
  }

  .landing-page button {
    width: 4.5cm;
    height: 50px;   
    border-radius: 30px;
    background-color: var(--object-color);
    color: var(--dark-bg-text-color);
    font-family: Poppins, sans-serif;
    font-size: 17px;
    border-color: transparent;
    cursor: pointer;
    transition: 0.5s ease-out;
    text-align: center;
    padding: auto;
    margin-top: 10px;
  }

  .landing-page button:hover {
    background-color: transparent;
    color: var(--dark-bg-text-color);
    border: 3px solid var(--object-color);
  }

  .material-symbols-outlined {
    position: absolute;
    margin-left: 5px;
    transition: 0.5s ease-out;
  }

  .landing-page button:hover .material-symbols-outlined {
    transform: translateX(5px)
  }



  /*About Me*/
  #about-me  {
    height: 90vh;
    margin-top: 3%;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
  }

  #about-me hr {
    margin-top: 0;
    margin-left: 0px;
    margin-bottom: 20px;
    height: 10px;
    width: 35px;
    border-radius: 50px;
    line-height: -0.2;
    border: transparent;
    background: linear-gradient(60deg, white, red);
  }

  #about-me h2 {
    font-size: 50px;
    margin-bottom: 0;
  }

  #about-me p {
    font-size: 17px;
    width: 80%;
    padding-top: 10px;
    line-height: 1.8;
  }

#about-me h3 {
    margin: 0; 
  margin-bottom: 20px;
    color: black;    
}

  #about-me ul {
    font-size: 17px;
    width: 80%;
    margin: 0;
  }

  #about-me ul li {
    list-style-type: square;
  }

  #about-me button {
    width: 5cm;
    height: 50px;   
    border-radius: 30px;
    margin-top: 30px;
    text-align: center;
    background-color: var(--object-color);
    color: var(--dark-bg-text-color);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    border-color: transparent;
    cursor: pointer;
    transition: 0.5s ease-out;
  }

  #about-me button:hover {
    background-color: transparent;
    color: var(--object-color);
    border: 2px solid var(--object-color);
  }

  #about-me .material-symbols-outlined {
    height: 20px;
  }

  #about-me button:hover .material-symbols-outlined {
    transform: translateY(-3px)
  }


  /*What I Do*/

  #what-i-do {
    height: 100vh;
    padding-left: 10%;
    padding-top: 30px;
    color: var(--dark-bg-text-color);
    background-color: var(--dark-bg-color);
    margin-bottom: 20%;
  }

  #what-i-do hr {
    margin-top: 0;
    margin-left: 0px;
    margin-bottom: 20px;
    height: 10px;
    width: 35px;
    border-radius: 50px;
    line-height: -0.2;
    border: transparent;
    background: linear-gradient(60deg, white, var(--object-color));
  }

#what-i-do h2 {
    font-size: 50px;
    margin-bottom: 0;
}

#what-i-do h3 {
  font-size: 23px;
  letter-spacing: 1.5;
}

#what-i-do > p {
  font-size: 17px;
  width: 80%;
  padding-top: 10px;
  line-height: 1.8;
}
.service-container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 80%;
}

.service-card {
  width: 250px;
  height: 250px;
  text-align: left;
  background-color: red;
  color: white;
  border-radius: 20px;
  margin: 10px;
  padding: 15px;
  box-shadow: 5px 5px 5px 8px rgba(225, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.4s ease-out;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-card h3 {
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: -3px;
  }

.service-card p {
   font-size: 15px;
   margin-left: 10px;
   margin-top: 10px;
  padding-top: 10px;
  line-height: 1.8;
}

.service-card .material-symbols-outlined {
  height: 30px;
  width: 30px;
  background-color: whitesmoke;
  border-radius: 50%;
  color: red;
  margin-left: 10px;
  font-size: 30px;  
}



  /*Portfolio*/
.join {
    background-color: black;
}

  #portfolio {
    height: 100vh;
    padding-left: 10%;
    padding-top: 30px;
    color: white;
  }

  #portfolio hr {
    margin-top: 0;
    margin-left: 0px;
    margin-bottom: 20px;
    height: 10px;
    width: 35px;
    border-radius: 50px;
    line-height: -0.2;
    border: transparent;
    background: linear-gradient(60deg, white, red);
  }

#portfolio h2 {
  font-size: 50px;
  margin-bottom: 0;
}

#portfolio p {
  font-size: 17px;
  width: 80%;
  padding-top: 10px;
  line-height: 1.8;
}

.portfolio-container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  width: 80%;
}

.portfolio-item {
  text-decoration: none;
  position: relative;
  overflow: hidden;
}


.portfolio-item img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}


/* skillset grid */
.skills {
    margin-left: 10%;
    width: 80%;
    margin-bottom: 5%;
}

.skillset {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-left: 10%;
    padding: 10px;
    width: 80%;
}

.lang-card {
    height: 120px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: 0.4s ease-out;
}


.lang-card svg {
  max-width: 100%
}

.lang-card #react {
 background: #61dafb;
}

.lang-card #react:hover {
    border: 1px solid #61dafb;
    background: #61dafb;
}

.lang-card:hover {
    background: rgb(29, 28, 28);
}


  /*Client*/
  .client {
    height: 50vh;
    padding-left: 10%;
    padding-top: 30px;
    color: white;
    background-color: #070404;
  }

  .client hr {
    margin-top: 0;
    margin-left: 0px;
    margin-bottom: 20px;
    height: 10px;
    width: 35px;
    border-radius: 50px;
    line-height: -0.2;
    border: transparent;
    background: linear-gradient(60deg, white, red);
  }

  .client h3 {
    font-size: 40px;
    margin-bottom: 0;
  }

  .client p {
    font-size: 17px;
    width: 80%;
    padding-top: 10px;
    line-height: 1.8;
  }

  /*Contact*/
  #contact {
    height: 100vh;
    padding-left: 10%;
    padding-top: 30px;
    color: black;
    background-color: white;
  }

  #contact hr {
    margin-top: 0;
    margin-left: 0px;
    margin-bottom: 20px;
    height: 10px;
    width: 35px;
    border-radius: 50px;
    line-height: -0.2;
    border: transparent;
    background: linear-gradient(60deg, white, red);
  }

  #contact h3 {
    font-size: 40px;
    margin-bottom: 0;
  }

  #contact p {
    font-size: 17px;
    width: 80%;
    padding-top: 10px;
    line-height: 1.8;
  }


  form {
    max-width: 400px;
    border: 3px solid darkred;
    padding: 20px;
  }


  label {
    display: block;
    margin-bottom: 10px;
  }

  input, textarea {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 16px;
    border: 2px solid darkred;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
  }

  button {
    background-color: darkred;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: .3s ease-out;
  }

  button:hover {
    background-color: #a00d0d;
  }

  .up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: transparent;
    background-color: red;
    color: white;
    border-radius: 50%;
    transition: 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .up.material-symbols-outlined {
    font-size: 32px;
  }

  .up:hover {
    transform: scale(1.05);
  }

  .up:focus {
    transform: translateY(-30px);
  }


footer {
  display: flex;
  background-color: black;
  height: 8vh;
  padding: 40px 20px 20px 20px;
  margin-top: 10%;
  color: black;
  justify-content: center;
  align-items: center;
}

.copyright {
    color: var(--dark-bg-text-color);
    font-size: 25px;
    font-family: Barlow, serif;
    margin-right: 20px;
}

footer hr {
    background-color: var(--dark-bg-text-color);
    width: 1px;
    height: 55px;
    margin: -2px 10px 0px 10px;
}

  .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    float: right;
    margin-top: 10px;
  }

.social-icons a {
    margin: 0px 10px 5px 30px;
  }

.social-icons svg {
    width: 28px;
    height: 28px;
    fill: var(--object-color);
    transition: 0.3s ease-out;
    padding: 7px;
    border-radius: 50%;
  }

.social-icons svg:hover {
   fill: var(--dark-bg-text-color);
   border: 1px solid var(--dark-bg-text-color);
}
